<div class="container">
  <div class="row">
    <div class="span4"></div>
    <div class="span4"><img class="center-block img-rounded" 
         src="http://petershamnurseries.com/media/wysiwyg/priv.jpg">
    </div>
    <div class="span4"></div>
  </div>
</div>

