<% provide(:title, "Signup") %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Sign up</h1>
      <div class="well">
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>