<p id="event-title">Event guests:</p>
  <% if @event.guests.any? %>
    <% @event.guests.each do |e| %>
      <p><i class="glyphicon glyphicon-user"></i>
      <%= e.name %></p>
    <% end %>
  <% else %>
    <p>None so far. Be the first and start the trend!</p>
  <% end %><br>

    