<% provide(:title, "Edit user") %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h1>Update your event</h1>
      <div class="well">
        <%= render 'shared/event_error_messages' %>
        <%= render 'events/form' %>
      </div>
    </div>
  </div>
</div>

