@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h3 {
  font-size: 1.15em;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h4 {
  font-size: 1.2em;
  ;
  text-align: center;
  font-weight: normal;
  color: black;
}

h5 {
  font_size: 0.8em;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2em;
  color: #107BB4;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
  color: #555;
    &:hover {
  color: #222;
    }
  }
  small {
  float: left;
  }
  ul {
  float: right;
  list-style: none;
    li {
    float: left;
    margin-left: 15px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Posts index */

#titles {
  text-align: center;
  font-size: 1.7em;
  color: light-gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  
}

#container{
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
  
}
.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

/* map */

.map {
    margin: 0 auto;
}

/* events index */

.top-image {
    position: relative;
}

.top-image-button {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}

#the-image {
  width: 100%;
}

#white {
  color: white;
  font-size: 1em;
}

.event-boxes {
  padding: 20px;
  position: relative;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  margin: 0px 10px 10px 0px;
  a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
  }
  :hover {
    color: #107BB4;
    font-weight:bold;
  }
}

#event-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2em;
}
